.center-text {
    text-align: center;
}

  .about-me-snippet {
    font-family: 'Jura';
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    width: 95%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 1em;
    
      .terminal-line {
        color: #dbf3ff;
        
        &::before {
          content: "> ";
        }
      }
        
    .tidbit-line {
      color: #7bc5f3;
      
      .tidbit {
        text-decoration: underline;
        transition: color .5s;
        
        &:hover {
          cursor: pointer;
          color: #0d90e2;
          transition: color .5s;
        }
        
      }
    }
    
    .btn {
      font-size: 1rem;
      transition: background .5s;
      cursor: pointer;
    }
    
    .go-btn {
      text-decoration: none;
      color: white;
      border-radius: 50px;
      display: inline-block;
      background: #d8453b;
      padding: 10px 25px;
      width: 120px;
      text-align: center;
      margin-top: 20px;
      margin-right: 10px;
      &:hover {
        background: #e32114;
      }
    }
    
    .back-btn {
      border-radius: 50px;
      display: inline-block;
      background: #3b7fd8;
      padding: 10px 25px;
      width: 120px;
      text-align: center;
      margin-top: 20px;
      
      &:hover {
        background: #006eff;
      }
    }
  }